* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
}


/*---------------------------------------- barra de navegacion ---------------------------------------- */
nav {
    display: flex;
    justify-content: center;
    z-index: 2;
    background-color: #2b2b2b;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.links a {
    justify-content: center;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logo-nav {
    margin-right: auto;
}

.links a.active {
    background-color: #753cd1;
}

.links a:hover {
    background-color: #753cd1;
}

.links a.active {
    font-weight: bold;
}

.navOculto {
    z-index: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.dropdown:hover a:hover {
    color: #fff;
}

.dropdown-content ul li a {
    width: 140px;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    margin-left: 10px;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #753cd1;
}

.links a.active {
    font-weight: bold;
}

/* ---------------------------------------- HTML INDEX ---------------------------------------- */
/*  Carrusel  */
.carousel-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    z-index: 1;
}

.carousel {
    display: flex;
    width: 100%;
    height: 500px;
    transition: transform 0.5s ease;
}

.carousel img {
    height: 500px;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button.prev {
    left: 10px;
}

/* Layout  */
main {
    margin: auto;
    width: 95%;
    flex: 1;
    margin-bottom: 20px;
}

.gridywrap div[class*="gridy"] {
    padding: 15px;
    float: left;
    position: relative;
}

.gridywrap .gridy-1,
.gridywrap .gridy-2,
.gridywrap .gridy-3 {
    width: 200px;
    overflow: hidden;
}

.gridywrap .gridy-1 {
    width: 100%;
}

.gridywrap .gridy-2 {
    width: 100%;
}

.gridywrap .gridy-3 {
    width: 100%;
}

.gridywrap .gridyhe-1 {
    height: 320px;
}

.gridywrap .gridyhe-2 {
    height: 320px;
}

/*Estilo*/
.gridywrap .gridimg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

.gridywrap .gridimg img {
    width: 100%;
}

.gridywrap .gridinfo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: all 0.8s;
}

.gridywrap .gridinfo h3 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 130px 0 20px;
    position: relative;
}

.gridywrap .gridinfo h3:after {
    content: "";
    width: 25px;
    border-top: 4px solid #fff;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

.gridywrap .gridinfo .credito {
    transition-delay: 0.25s;
}

.gridywrap .gridinfo .credito p {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    margin-bottom: 15px;
}

.gridywrap .gridinfo .credito p i {
    margin-right: 5px;
}

.gridywrap .gridinfo .credito p.gridwho {
    margin-left: 25px;
}

.gridywrap .gridinfo p.gridexerpt {
    width: 60%;
    margin: 0 auto;
    line-height: 22px;
    margin-bottom: 25px;
    color: #fff;
    transition-delay: 0.5s;
}

.gridywrap .gridinfo * {
    opacity: 0;
    transition: all 0.8s;
}

.gridywrap .gridinfo h3 {
    opacity: 1;
}

.gridywrap .gridinfo .grid-btn {
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 25px;
    border: 2px solid #9ce44a;
    display: block;
    overflow: hidden;
}

.gridywrap .gridinfo .grid-btn:hover {
    width: 75px;
    background: #9ce44a34;
}

.gridywrap .gridinfo .grid-btn span {
    opacity: 0;
    display: none;
    transition: opacity 0.8s;
}

.gridywrap .gridinfo .grid-btn:hover span {
    opacity: 1;
    display: inline;
}

.gridywrap .gridinfo .grid-btn:hover i {
    opacity: 0;
    display: none;
}

.gridywrap .gridinfo:hover * {
    opacity: 0.7;
}

.gridywrap .gridinfo:hover p {
    opacity: 1;
}

.gridywrap .gridinfo:hover {
    background: #000000b4;
}

.gridywrap .gridinfo:hover h3 {
    margin-top: 70px;
    opacity: 1;
}

.intro {
    text-align: center;
    padding: 25px;
    color: #fff;
}

h1 {
    font-size: 48px;
    font-weight: 300;
    padding: 15px 0;
}

.intro p {
    opacity: 0.5;
    font-size: 12px;
}

/*---------------------------------------- HTML CALCULADORA ----------------------------------------  */
/* calucladora */
.container-calculadora {
    position: relative;
    margin: 50px auto;
    max-width: 80%;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(159, 86, 255, 0.767);
}


.tituloCalculadora {
    color: #1c1c1c;
    text-align: center;
    margin-bottom: 20px;
}

.opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cajaDistancia1,
.cajaDistancia2 {
    flex-basis: 45%;
}

.distanciaTitulo1,
.distanciaTitulo2 {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.selectorDistancia1,
.selectorDistancia2 {
    width: 100%;
    padding: 8px;
    border: 1px solid #753cd1;
    background-color: #753cd134;
    border-radius: 4px;
}

.cajaResultado {
    text-align: center;
}

.botonReultado {
    padding: 10px 20px;
    background-color: #9ce44a;
    color: #1C1C1C;
    font-family: open sans black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.resultado {
    text-align: center;
    font-family: open sans black;
    color: #c6ee36;
    font-size: 1.5rem;
}

/* ---------------------------------------- HTML PLANETAS ---------------------------------------- */
.tituloplanetas {
    margin-top: 15px;
    font-family: inter black;
    text-align: center;
    color: #c6ee36;
}

.containerglassbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
}

.glassBox {
    width: 100%;
    height: 400px;
    max-width: 300px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px #b964ff1c;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: calc(50% - 20px);
    margin: 3%;
}

.glassBox,
.glassBox * {
    box-sizing: border-box;
    transition: 400ms;
}

.glassBox__imgBox img {
    display: block;
    width: 100%;
    height: auto;
}

.glassBox__title {
    text-align: center;
    margin-top: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.glassBox__content {
    position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.1em;
    opacity: 0;
}

.glassBox:hover .glassBox__imgBox {
    transform: translateY(-50px);
}

.glassBox:hover .glassBox__imgBox img {
    transform: translate(-20px, -40px) rotate(-15deg) scale(1.4);
}

.planetas {
    display: flex;
    margin: auto;
    width: 95%;
    height: 500px;
    margin-bottom: 50px;
}

.planetas img {
    border-radius: 5px;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.planetas img:hover {
    width: 400px;
    opacity: 1;
}

/* ---------------------------------------- HTML INFO NOTICIAS ---------------------------------------- */

.headernoticias {
    margin: 20px;
}

.headernoticias img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

h1 {
    font-family: inter black;
    color: #c6ee36;
}

h6 {
    font-size: 10pt;
    font-family: inter light;
    color: #fff;
}

.importantnoticias {
    font-family: inter black;
    margin: auto;
    font-size: 2vh;
    width: 50%;
    color: #be97fd;
}

.infonoticias {
    text-align: justify;
    margin: auto;
    width: 50%;
    color: #fff;
}

.infonoticias span {
    font-family: inter black;
    color: rgb(156, 228, 74);
}

.video-container {
    position: relative;
    width: 100%;
    height: 500px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------------------------------------- BOTON RAMDOM ---------------------------------------- */
.containerboton {
    display: flex;
    justify-content: center;
}

#randomButton {
    font-family: inter black;
    color: #1c1c1c;
    background-color: #be97fd;
    width: 100%;
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 2vh;
}

#randomButton:hover {
    border-radius: 15px;
    color: #ffffff;
    background-color: #753cd1;
    transition: .5s ease;
}

/*---------------------------------------- FOOTER ----------------------------------------*/
.footer {
    position: relative;
    text-align: center;
    height: 300px;
    bottom: 0;
}

.containerfooter {
    justify-content: center;
    flex: 1;
    height: 100%;
    margin: 0 auto;
    background-color: #000;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

ul {
    list-style: none;
}

.footer-col {
    margin-top: 2%;
    width: 50%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: #9ce44a;
    height: 2px;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffffc9;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #753cd1;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #753cd188;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

/* -------------------------HTML IMAGENES------------------------- */
.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.gallery__link {
    margin: 2px;
    overflow: hidden;
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;
}

.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
}

.gallery__image:hover {
    transform: scale(1.1);
}

.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

/*---------------------------------------- HTML LINEA ----------------------------------------  */
.container-linea {
    width: 100%;
    padding: 50px;
}

.timeline {
    margin-top: 50px;
}

.timeline>li:nth-child(even) {
    position: relative;
    width: 70%;
    margin-bottom: 50px;
    height: 180px;
    right: -350px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    width: 70%;
    margin-bottom: 50px;
    height: 180px;
    left: 100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline>li .timeline-panel {
    position: relative;
    float: left;
    width: 41%;
    text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #9ce44a;
    border-radius: 50%;
    box-shadow: 0 0 5px #9ce44a;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.timeline-image img {
    max-width: 310px;
    width: auto;
    height: auto;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
    object-fit: cover;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 22px;
    margin-bottom: 4px;
    padding: 0;
    color: #753cd1;
}

.timeline .timeline-heading h4.subheading {
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 18px;
    color: #9ce44a;
}

.timeline-body {
    margin-bottom: 0;
}

.text-muted,
.col-lg-12 {
    color: #fff !important;

}

/*----------------------------- perfil -----------------------------*/
.close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #d7ff47;
    font-size: 24px;
    cursor: pointer;
}

.close-button:hover {
    color: #9747ff;
}

.mainperfil {
    margin: auto;
    width: 350px;
    height: 500px;
    overflow: hidden;
    background-color: #753cd1;
    border-radius: 25px;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

.labelperfil {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.inputperfil {
    width: 60%;
    height: 50px;
    background: #f7f7f7;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.buttonperfil {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #1c1c1c;
    background: #c6ee36;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.buttonperfil:hover {
    background: #d8fd70;
}

.login {
    height: 460px;
    background: #fff;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label {
    color: #753cd1;
    transform: scale(.6);
}

#chk:checked~.login {
    transform: translateY(-500px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.signup label {
    transform: scale(.6);
}

/* ----------------------------RESPONSIVE-------------------------------- */


@media screen and (min-width: 1024px) {
    .gridywrap .gridy-1 {
        width: 33.3%;
    }

    .gridywrap .gridy-2 {
        width: 66.6%;
    }

    .gridywrap .gridy-3 {
        width: 100%;
    }

    .gridywrap .gridyhe-2 {
        height: 640px;
    }
}