* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body {
    background-color: #1c1c1c;
}

/*---------------------------------------- barra de navegacion ---------------------------------------- */
nav {
    display: flex;
    justify-content: center;
    z-index: 2;
    background-color: #2b2b2b;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.links a {
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logo-nav {
    margin-right: auto;
}

.links a.active {
    background-color: #753cd1;
}

.links a:hover {
    background-color: #753cd1;
}

.links a.active {
    font-weight: bold;
}

.navOculto {
    z-index: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2ee;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.dropdown:hover a:hover {
    color: #ffffff;
}

.dropdown-content ul li a {
    width: 140px;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    margin-left: 10px;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #753cd1;
}

.links a.active {
    font-weight: bold;
}

/* ---------------------------------------- HTML INDEX ---------------------------------------- */
/*  Carrusel  */

.carousel-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    z-index: 1;
}

.carousel {
    display: flex;
    width: 100%;
    height: 500px;
    transition: transform 0.5s ease;
}

.carousel img {
    height: 500px;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button.prev {
    left: 10px;
}

/*  Seleccion de planetas  */
.padre {
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    background-color: #252525;
    box-shadow: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 240px;
    justify-items: center;

}

/* LA LUNA */
.luna {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 220px;
    text-align: center;
    border-radius: 5px;
    grid-row: 1/3;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.luna .lunaF {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
}

.luna:hover .lunaF {
    transform: scale(1.1);
    filter: brightness(70%);
}

.textoLuna {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    z-index: 1;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.luna:hover .textoLuna {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    font-size: 24px;
}

/* MARTE */

.marte {
    width: 90%;
    height: 220px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.marte .marteF {
    width: 120%;
    height: 120%;
    object-fit: cover;
    transition: all 0.3s ease-out;
}

.marte:hover .marteF {
    transform: scale(1.1);
    filter: brightness(70%);
}

.textoMarte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    z-index: 1;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.marte:hover .textoMarte {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    font-size: 24px;
}

/* JUPITER */
.jupiter {
    width: 90%;
    height: 220px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.jupiter .jupiterF {
    width: 120%;
    height: 120%;
    object-fit: cover;
    transition: all 0.3s ease-out;
}

.jupiter:hover .jupiterF {
    transform: scale(1.1);
    filter: brightness(70%);
}

.textoJupiter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    z-index: 1;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.jupiter:hover .textoJupiter {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    font-size: 24px;
}

/* MERCURIO */
.mercurio {
    width: 90%;
    height: 220px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.mercurio .mercurioF {
    width: 120%;
    height: 120%;
    object-fit: cover;
    transition: all 0.3s ease-out;
}

.mercurio:hover .mercurioF {
    transform: scale(1.1);
    filter: brightness(70%);
}

.textoMercurio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    z-index: 1;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.mercurio:hover .textoMercurio {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    font-size: 24px;
}

/*---------------------------------------- HTML CALCULADORA ----------------------------------------  */
/* calucladora */
.container {
    position: relative;
    margin: 50px auto;
    max-width: 80%;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(159, 86, 255, 0.767);
}


.tituloCalculadora {
    text-align: center;
    margin-bottom: 20px;
}

.opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cajaDistancia1,
.cajaDistancia2 {
    flex-basis: 45%;
}

.distanciaTitulo1,
.distanciaTitulo2 {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.selectorDistancia1,
.selectorDistancia2 {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.cajaResultado {
    text-align: center;
}

.botonReultado {
    padding: 10px 20px;
    background-color: #9ce44a;
    color: #1C1C1C;
    font-family: open sans black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.resultado {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-family: open sans black;
    color: #c6ee36;
    font-size: 1.5rem;
}

/* ---------------------------------------- HTML PLANETAS ---------------------------------------- */
.tituloplanetas {
    margin-top: 5%;
    font-family: inter black;
    text-align: center;
    color: #c6ee36;
}

.containerglassbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
}

.glassBox {
    width: 100%;
    height: 400px;
    max-width: 300px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px #b964ff1c;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: calc(50% - 20px);
    margin: 3%;
}

.glassBox,
.glassBox * {
    box-sizing: border-box;
    transition: 400ms;
}

.glassBox__imgBox img {
    display: block;
    width: 100%;
    height: auto;
}

.glassBox__title {
    text-align: center;
    margin-top: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.glassBox__content {
    position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.1em;
    opacity: 0;
}

.glassBox:hover .glassBox__imgBox {
    transform: translateY(-50px);
}

.glassBox:hover .glassBox__imgBox img {
    transform: translate(-20px, -40px) rotate(-15deg) scale(1.4);
}

.planetas {
    display: flex;
    margin: auto;
    width: 95%;
    height: 500px;
}

.planetas img {
    border-radius: 5px;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.planetas img:hover {
    width: 400px;
    opacity: 1;
}